@{
    ViewBag.Title = "Basic Math";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="container">
    <div class="row row-cols-1 row-cols-xl-4 row-cols-md-2 row-cols- g-4">
        <div class="col">
            <div class="card h-100">
                <img src="~/Assets/math_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Welcome to Basic Math Website! We are your ultimate destination for mastering basic math skills. Whether you're a student struggling with foundational concepts or an adult looking to refresh your math knowledge, our website offers comprehensive courses designed to cater to all levels of learners.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Assets/math_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Explore our wide range of features and unlock the potential of your mathematical abilities. Our interactive lessons and engaging tutorials ensure that you grasp core concepts with ease. Dive into our extensive library of practice problems, exercises, and quizzes to reinforce your understanding and enhance your problem-solving skills.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Assets/math_3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Our courses cover a wide array of basic math topics, including Arithmetic, Number Systems, Probabilities, and more. With each course, you'll receive detailed explanations, real-world examples, and practical applications of the concepts you're learning.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/Assets/math_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Ready to boost your math skills? Sign up with Basic Math Website today and unlock your full potential in a subject that forms the foundation for countless fields and disciplines. Let's conquer basic math together!</p>
                </div>
            </div>
        </div>
    </div>
</div>